<ng-container class="content flex flex-col">
  <div class="content-actions py-4">
    <button mat-raised-button color="primary">{{ 'PAGES.SHARE.SHARE_BTN' | translate }}</button>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 py-4 w-full">

    <!-- Path Column -->
    <ng-container matColumnDef="path">
      <th mat-header-cell *matHeaderCellDef> {{ 'PAGES.SHARE.TABLE.PATH' | translate}}</th>
      <td mat-cell *matCellDef="let element"> {{element.path}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> {{ 'PAGES.SHARE.TABLE.NAME' | translate}}</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> {{ 'PAGES.SHARE.TABLE.DATE' | translate}}</th>
      <td mat-cell *matCellDef="let element"> {{element.date | date: 'short'}} </td>
    </ng-container>

    <!-- Checksum Column -->
    <ng-container matColumnDef="checksum">
      <th mat-header-cell *matHeaderCellDef> {{ 'PAGES.SHARE.TABLE.CHECKSUM' | translate}}</th>
      <td mat-cell *matCellDef="let element"> {{element.checksum}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</ng-container>
